bpdm-gate:
  enabled: true
  replicaCount: 1
  image:
    tag: "main"
  resources:
    limits:
      cpu: 800m
      memory: 2Gi
    requests:
      cpu: 300m
      memory: 2Gi
  springProfiles:
    - auth
    - pool-auth
  ingress:
    enabled: true
    hosts:
      - host: partners-gate.dev.demo.catena-x.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-secret
        hosts:
          - partners-gate.dev.demo.catena-x.net
  applicationConfig:
    bpdm:
      saas:
        host: https://api.cdq.com
        storage: 38d2277e20c730b4b8e8f182adcef7ca
        datasource: 621338451197b7667a5fbda4
      security:
        auth-server-url: https://centralidp.dev.demo.catena-x.net/auth
        realm: CX-Central
        client-id: Cl16-CX-BPDMGate
    spring:
      security:
        oauth2:
          client:
            registration:
              gate-client:
                # Client ID used for getting token different from own Client to validate tokens
                client-id: sa-cl7-cx-7
            provider:
              catena-keycloak-provider:
                issuer-uri: https://centralidp.dev.demo.catena-x.net/auth/realms/CX-Central
    springdoc:
      swagger-ui:
        oauth:
          client-id: Cl2-CX-Portal
  applicationSecrets:
    spring:
      datasource:
        password: <path:bpdm/data/dev/pool/postgresql#password>
    bpdm:
      saas:
        api-key: <path:bpdm/data/dev/gate/cdq#api-key>
      security:
        credentials:
          secret: <path:bpdm/data/dev/pool/admin-user#client-secret>
  postgres:
    enabled: false

bpdm-pool:
  enabled: true
  image:
    tag: "main"
  springProfiles:
    - auth
  resources:
    limits:
      cpu: 800m
      memory: 2Gi
    requests:
      cpu: 300m
      memory: 2Gi
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - host: partners-pool.dev.demo.catena-x.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-secret
        hosts:
          - partners-pool.dev.demo.catena-x.net
  applicationConfig:
    bpdm:
      opensearch:
        # every hour at minute 30
        export-scheduler-cron-expr: 0 30 * * * *
      security:
        auth-server-url: https://centralidp.dev.demo.catena-x.net/auth
        realm: CX-Central
        client-id: Cl7-CX-BPDM
    springdoc:
      swagger-ui:
        oauth:
          client-id: Cl2-CX-Portal
  applicationSecrets:
    spring:
      datasource:
        password: <path:bpdm/data/dev/pool/postgresql#password>
  opensearch:
    fullnameOverride: "bpdm-umbrella-opensearch"

bpdm-bridge-dummy:
  image:
    tag: "main"
  springProfiles:
    - auth
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - host: partners-bridge.dev.demo.catena-x.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-secret
        hosts:
          - partners-bridge.dev.demo.catena-x.net
  resources:
    limits:
      cpu: 800m
      memory: 2Gi
    requests:
      cpu: 300m
      memory: 2Gi
  applicationConfig:
    bpdm:
      security:
        auth-server-url: https://centralidp.dev.demo.catena-x.net/auth
        realm: CX-Central
        client-id: Cl7-CX-BPDM
    spring:
      security:
        oauth2:
          client:
            registration:
              bridge-client:
                # Client ID used for getting token different from own Client to validate tokens
                client-id: sa-cl7-cx-7
            provider:
              catena-keycloak-provider:
                issuer-uri: https://centralidp.dev.demo.catena-x.net/auth/realms/CX-Central
  applicationSecrets:
    spring:
      datasource:
        password: <path:bpdm/data/dev/pool/postgresql#password>
    bpdm:
      security:
        credentials:
          secret: <path:bpdm/data/dev/pool/admin-user#client-secret>

opensearch:
  masterService: ""
  fullnameOverride: "bpdm-umbrella-opensearch"
  enabled: true
  replicas: 1
  protocol: http
  roles:
    - master
    - ingest
    - data
  resources:
    limits:
      cpu: 300m
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 2Gi
  config:
    opensearch.yml: |
      # Bind to all interfaces because we don't know what
      # IP address Docker will assign to us.
      network.host: 0.0.0.0
      # Disable security
      plugins.security.disabled: true
  securityConfig:
    enabled: false
  extraInitContainers:
    # Image that performs the sysctl operation to modify Kernel settings
    # needed sometimes to avoid boot errors
    - name: sysctl
      image: docker.io/bitnami/bitnami-shell:10-debian-10-r199
      imagePullPolicy: "IfNotPresent"
      command:
        - /bin/bash
        - -ec
        - |
          CURRENT=`sysctl -n vm.max_map_count`;
          DESIRED="262144";
          if [ "$DESIRED" -gt "$CURRENT" ]; then
              sysctl -w vm.max_map_count=262144;
          fi;
          CURRENT=`sysctl -n fs.file-max`;
          DESIRED="65536";
          if [ "$DESIRED" -gt "$CURRENT" ]; then
              sysctl -w fs.file-max=65536;
          fi;
      securityContext:
        runAsUser: 0
        privileged: true

postgres:
  auth:
    postgresPassword: <path:bpdm/data/dev/pool/postgresql#postgres-password>
    password: <path:bpdm/data/dev/pool/postgresql#password>